In [1]:
#read data
import pandas as pd
df = pd.read_csv("rolex_scaper_clean.csv")

In [14]:
print(df.shape)
df.sample(20)

(87117, 12)

,model,reference number,price,aditional shipping price,ad name,movement,case material,case diameter,year of production,condition,scope of delivery,location
34357,Rolex Sky-Dweller,326935,63718.0,0.0,Ref. 326935 - choco Index Zifferblatt,Automatic,Rose gold,42 mm,2022.0,Unworn,"Original box, original papers","Germany, Duisburg"
69523,Rolex Submariner Date,126610LN,14950.0,0.0,126610LN,Automatic,Steel,41 mm,2021.0,Very good,"Original box, original papers","United States of America, Pennsylvania"
79576,Rolex Datejust 36,1603,6000.0,100.0,1967 Vintage Rolex Datejust Ref. 1603 RARE Bla...,Automatic,Steel,36 mm,1967.0,NaN,"No original box, no original papers","United States of America, California, Beverly ..."
44391,Rolex Lady-Datejust,6917,14350.0,115.0,1979 Ladies Datejust 18K YG (Ref. 6917) Tiger ...,Automatic,Yellow gold,NaN,1979.0,Very good,"Original box, original papers","United States of America, California, Los Angeles"
25128,Rolex Datejust,10P,8651.0,23.0,ロレックス 69179G BIC デイトジャスト 10P ダイヤモンド トリドール 腕時計 ...,Automatic,White gold,26 x 33 mm,NaN,Very good,"No original box, no original papers","Japan, 京都市"
4617,Rolex Oyster Perpetual 36,126000,13861.0,149.0,Candy Pink Dial UNWORN - 2022,Automatic,Steel,36 mm,2022.0,Unworn,"Original box, original papers","Sweden, Luleå"
19370,Rolex Datejust 36,16014,5833.0,97.0,16014,Automatic,Steel,36 mm,1977.0,Very good,"No original box, no original papers","Italy, Roma"
67073,Rolex Yacht-Master 40,126622,15091.0,57.0,Box and Papers February 2022,Automatic,Steel,40 mm,2022.0,Very good,"Original box, original papers","United Kingdom, Southampton"
84095,Rolex Datejust 36,126234,12631.0,0.0,silver dial jubilee export 10700chf,Automatic,Steel,36 mm,2022.0,Unworn,"Original box, original papers","Switzerland, Geneve"
72175,Rolex Datejust 41,126334,14355.0,31.0,126334,Automatic,Steel,41 mm,2020.0,Unworn,"Original box, original papers","Germany, Koblenz"
87026,Rolex Lady-Datejust,69178,8890.0,99.0,President Model 69178,Automatic,Yellow gold,26 mm,NaN,Very good,"Original box, no original papers","United States of America, Texas, Dallas"
55539,Rolex Datejust 36,116200,8048.0,0.0,未使用品 ロレックス 116200 デイトジャスト 自動巻,Automatic,NaN,36 mm,NaN,Unworn,"No original box, no original papers","Japan, Nagoya Shi Naka Ku"
44147,Rolex Submariner Date,126610lv,21292.0,149.0,Starbucks / Kermit - 2022,Automatic,Steel,41 mm,2022.0,Very good,"Original box, original papers","Sweden, Luleå"
28179,Rolex Datejust 36,126200,14645.0,500.0,36mm Green Palm Dial Smooth Bezel Oyster 12620...,Automatic,Steel,36 mm,2021.0,Unworn,"Original box, original papers","United States of America, New York, New York"
83609,Rolex Datejust 36,116200,8047.0,108.0,Floral Dial,Automatic,Steel,36 mm,2012.0,Good,"Original box, original papers","The Netherlands, Hilversum"
56854,Rolex Oyster Perpetual 41,124300,28950.0,0.0,124300,Automatic,Steel,41 mm,2021.0,Unworn,"Original box, original papers","United States of America, Virginia, Falls Church"
34005,Rolex Sky-Dweller,326934,29812.0,0.0,NEW Sky-Dweller 2022,Automatic,Steel,42 mm,2022.0,Unworn,"Original box, original papers","Germany, München"
75313,Rolex Oyster Perpetual 36,116000,7999.0,99.0,116000,Automatic,Steel,36 mm,2017.0,Very good,"Original box, original papers","United States of America, Florida, SUNNY ISLES..."
21075,Rolex Daytona,116508,56500.0,99.0,Cosmograph Daytona 18ct Yellow Gold White Dial...,Automatic,Yellow gold,40 mm,2016.0,New,"Original box, original papers","United States of America, Florida, Aventura"
16538,Rolex Datejust 41,126331,18915.0,125.0,41MM 126331 18K ROSE GOLD/STAINLESS STEEL MEN'...,Automatic,Gold/Steel,41 mm,NaN,New,"Original box, original papers","United States of America, New York, NY"

In [23]:
df.dtypes

model                        object
reference number             object
price                       float64
aditional shipping price    float64
ad name                      object
movement                     object
case material                object
case diameter                object
year of production          float64
condition                    object
scope of delivery            object
location                     object
dtype: object

In [15]:
#check nan in price and drop them, since the price will be our target variable
df['price'].isna().sum()

5392

In [18]:
df = df.dropna(subset=['price'])
df['price'].isna().sum()

0

In [20]:
#check NAs in case diamter
df['case diameter'].isna().sum()

3840

In [22]:
print(df[df['case diameter'].isna()].sample(20))

                                  model reference number     price  \
37651  Rolex Oyster Perpetual Lady Date            79240    3027.0
45130                     Rolex Daytona           116505   45835.0
69067             Rolex Yacht-Master 40           126621   20599.0
30729                    Rolex Day-Date              NaN   19500.0
64202                 Rolex Day-Date 36            18238   17407.0
42193                     Rolex Daytona           116528   61285.0
58844         Rolex Oyster Perpetual 31            67480    3531.0
2087                     Rolex Explorer           114270    6172.0
33847             Rolex Yacht-Master 40           126622   15890.0
5746                Rolex GMT-Master II       126720VTNR   34490.0
22532       Rolex Oyster Perpetual Date            15223    6437.0
68143                      Rolex Oyster             4444    4105.0
71119            Rolex Oyster Perpetual            76198    6967.0
75302                     Rolex Daytona            16528  162022.0
9929              Rolex Yacht-Master 40            16628   29767.0
31448               Rolex Lady-Datejust           179160    5098.0
45856               Rolex Lady-Datejust            69178    7500.0
73979                 Rolex Day-Date 36           118238   37080.0
21427               Rolex Lady-Datejust            79174    6643.0
56266        Rolex Submariner (No Date)             5513   20804.0

       aditional shipping price  \
37651                       0.0
45130                     175.0
69067                       0.0
30729                      99.0
64202                     175.0
42193                     175.0
58844                       0.0
2087                       25.0
33847                       0.0
5746                       25.0
22532                     175.0
68143                      31.0
71119                      65.0
75302                     108.0
9929                      175.0
31448                     175.0
45856                      99.0
73979                     175.0
21427                     175.0
56266                       0.0

                                                 ad name        movement  \
37651                                           79240 K番       Automatic
45130   Everose Cosmograph Daytona Black Subdials 116505       Automatic
69067                                             126621       Automatic
30729                                     Ref. 1803 Blue             NaN
64202  Men's Rolex President - Day-Date Watch with Bl...       Automatic
42193  Cosmograph Daytona Men's Watch 116528 Black #3...       Automatic
58844                                              67480       Automatic
2087   114270 Black Dial Automatic Stainless Steel Us...       Automatic
33847                                             126622       Automatic
5746         126720VTNR Black Dial Oystersteel Used Mens       Automatic
22532                       Men's Watch 15223 White dial       Automatic
68143                                          Precision  Manual winding
71119  Yellow Gold Champagne Dial Fluted Bezel Lady 7...       Automatic
75302  Zenith 16528 NOS with Rare Prototype Dial Orig...             NaN
9929            Master Men's 18k Yellow Gold Watch 16628       Automatic
31448                Ladies Stainless Steel Watch 179160       Automatic
45856                                   Oyster Perpetual       Automatic
73979  President Day-Date Men's 18k Yellow Gold Watch...       Automatic
21427        Ladies Datejust Stainless Steel Watch 79174       Automatic
56266                         5513 Submariner Maxi MK II       Automatic

      case material case diameter  year of production  condition  \
37651           NaN           NaN                 NaN       Good
45130     Rose gold           NaN                 NaN  Very good
69067           NaN           NaN                 NaN        NaN
30729           NaN           NaN              1966.0  Very good
64202   Yellow gold           NaN                 NaN  Very good
42193   Yellow gold           NaN                 NaN  Very good
58844           NaN           NaN                 NaN       Good
2087          Steel           NaN              2005.0  Very good
33847           NaN           NaN                 NaN       Good
5746          Steel           NaN              2010.0        NaN
22532         Steel           NaN                 NaN  Very good
68143         Steel           NaN              1940.0       Good
71119   Yellow gold           NaN                 NaN  Very good
75302   Yellow gold           NaN              1992.0     Unworn
9929    Yellow gold           NaN                 NaN  Very good
31448         Steel           NaN                 NaN  Very good
45856   Yellow gold           NaN                 NaN  Very good
73979   Yellow gold           NaN                 NaN  Very good
21427         Steel           NaN                 NaN  Very good
56266         Steel           NaN              1979.0       Good

                         scope of delivery  \
37651  No original box, no original papers
45130     Original box, no original papers
69067     Original papers, no original box
30729  No original box, no original papers
64202     Original box, no original papers
42193     Original box, no original papers
58844  No original box, no original papers
2087      Original papers, no original box
33847     Original papers, no original box
5746      Original papers, no original box
22532     Original box, no original papers
68143  No original box, no original papers
71119  No original box, no original papers
75302     Original papers, no original box
9929      Original box, no original papers
31448  No original box, no original papers
45856  No original box, no original papers
73979     Original box, no original papers
21427  No original box, no original papers
56266  No original box, no original papers

                                                location
37651                                   Japan, Toshimaku
45130            United States of America, Texas, Dallas
69067                                   Japan, Toshimaku
30729  United States of America, California, Los Angeles
64202            United States of America, Texas, Dallas
42193            United States of America, Texas, Dallas
58844                                   Japan, Toshimaku
2087                   Japan, Kanazawa-shi, Ishikawa-ken
33847                                   Japan, Toshimaku
5746                   Japan, Kanazawa-shi, Ishikawa-ken
22532            United States of America, Texas, Dallas
68143                                    Germany, Berlin
71119                                      Austria, Wien
75302                                        Italy, Roma
9929             United States of America, Texas, Dallas
31448            United States of America, Texas, Dallas
45856  United States of America, California, Beverly ...
73979            United States of America, Texas, Dallas
21427            United States of America, Texas, Dallas
56266                                 Hong Kong, Central

In [24]:
df['case diameter'] = df['case diameter'].str[:2]

In [27]:
print(df['case diameter'].value_counts())

case diameter
40    27517
36    15447
41    10585
26     5052
31     4238
34     4036
42     3587
44     1521
39     1091
28      940
43      639
37      535
29      461
35      458
25      304
32      272
24      233
30      217
38      170
33      168
15       46
23       42
48       35
16       35
27       34
22       31
21       29
47       26
20       20
18       19
46       18
45       13
19        9
14        8
51        7
49        6
13        6
50        5
10        5
17        4
es        3
12        3
54        2
11        2
4.        1
ca        1
1.        1
52        1
8         1
4         1
Name: count, dtype: int64

In [28]:
df['case diameter'] = pd.to_numeric(df['case diameter'], errors='coerce', downcast='integer')

In [30]:
df['case diameter'].isna().sum()

3844

In [31]:
df['case diameter'].dtype

dtype('float64')

In [32]:
# fill NAs in case diamter with the most frequent case diameter in that model
df['case diameter'] = df.groupby('model')['case diameter'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [34]:
df['case diameter'].isna().sum()

0

In [37]:
df['model'].value_counts()

model
Rolex Datejust 36                   10139
Rolex Daytona                        9143
Rolex Submariner Date                6556
Rolex Datejust 41                    6096
Rolex GMT-Master II                  5351
Rolex Lady-Datejust                  5113
Rolex Datejust 31                    3141
Rolex Day-Date 36                    2749
Rolex Sky-Dweller                    2467
Rolex Day-Date 40                    2064
Rolex Explorer II                    2041
Rolex Yacht-Master 40                1853
Rolex Submariner (No Date)           1735
Rolex Oyster Perpetual Date          1712
Rolex Air King                       1658
Rolex                                1553
Rolex Explorer                       1487
Rolex Datejust                       1095
Rolex Milgauss                       1065
Rolex Oyster Perpetual 41             994
Rolex Oyster Perpetual 36             949
Rolex GMT-Master                      947
Rolex Sea-Dweller Deepsea             936
Rolex Datejust II                     816
Rolex Oyster Perpetual 31             811
Rolex Sea-Dweller                     808
Rolex Oyster Perpetual 34             745
Rolex Oyster Perpetual Lady Date      726
Rolex Oyster Perpetual                658
Rolex Yacht-Master II                 619
Rolex Sea-Dweller 4000                587
Rolex Cellini                         503
Rolex Datejust Turn-O-Graph           497
Rolex Oyster Precision                472
Rolex Yacht-Master                    392
Rolex Day-Date II                     340
Rolex Oyster Perpetual 39             313
Rolex Oyster Perpetual 26             308
Rolex Yacht-Master 37                 293
Rolex Lady-Datejust Pearlmaster       290
Rolex Datejust Oysterquartz           244
Rolex Yacht-Master 42                 220
Rolex Precision                       193
Rolex Oyster                          165
Rolex Submariner                      156
Rolex Day-Date                        134
Rolex Day-Date Oysterquartz            84
Rolex Oyster Perpetual 28              70
Rolex Pearlmaster                      62
Rolex Chronograph                      61
Rolex Cellini Time                     55
Rolex Prince                           51
Rolex Cellini Dual Time                42
Rolex Cellini Danaos                   41
Rolex Cellini Prince                   38
Rolex Cellini Moonphase                34
Rolex Cellini Date                     33
Rolex Air King Date                    20
Name: count, dtype: int64

In [38]:
#remove unnecessary information from the model name -- case diameter
df['model'] = df['model'].str.replace(r' \d{2}$', '', regex=True)

In [39]:
df['model'].value_counts()

model
Rolex Datejust                      20471
Rolex Daytona                        9143
Rolex Submariner Date                6556
Rolex GMT-Master II                  5351
Rolex Lady-Datejust                  5113
Rolex Day-Date                       4947
Rolex Oyster Perpetual               4848
Rolex Yacht-Master                   2758
Rolex Sky-Dweller                    2467
Rolex Explorer II                    2041
Rolex Submariner (No Date)           1735
Rolex Oyster Perpetual Date          1712
Rolex Air King                       1658
Rolex                                1553
Rolex Explorer                       1487
Rolex Milgauss                       1065
Rolex GMT-Master                      947
Rolex Sea-Dweller Deepsea             936
Rolex Datejust II                     816
Rolex Sea-Dweller                     808
Rolex Oyster Perpetual Lady Date      726
Rolex Yacht-Master II                 619
Rolex Sea-Dweller 4000                587
Rolex Cellini                         503
Rolex Datejust Turn-O-Graph           497
Rolex Oyster Precision                472
Rolex Day-Date II                     340
Rolex Lady-Datejust Pearlmaster       290
Rolex Datejust Oysterquartz           244
Rolex Precision                       193
Rolex Oyster                          165
Rolex Submariner                      156
Rolex Day-Date Oysterquartz            84
Rolex Pearlmaster                      62
Rolex Chronograph                      61
Rolex Cellini Time                     55
Rolex Prince                           51
Rolex Cellini Dual Time                42
Rolex Cellini Danaos                   41
Rolex Cellini Prince                   38
Rolex Cellini Moonphase                34
Rolex Cellini Date                     33
Rolex Air King Date                    20
Name: count, dtype: int64

In [42]:
df.movement.value_counts()

movement
Automatic         76544
Manual winding     2171
Quartz              476
Name: count, dtype: int64

In [61]:
df.movement.isna().sum()

2534

In [69]:
# fill missing movement with the most common type in that model
df['movement'] = df['movement'].fillna(df.groupby('model')['movement'].transform(lambda x: x.mode()[0]))

In [70]:
df.movement.isna().sum()

0

In [44]:
df['case material'].value_counts()

case material
Steel          45411
Gold/Steel     13394
Yellow gold     9013
White gold      4486
Rose gold       3671
Platinum         801
Red gold         284
Silver           108
Ceramic           55
Titanium           7
Bronze             4
Aluminum           1
Name: count, dtype: int64

In [55]:
df['case material'].isna().sum()

4490

In [71]:
#fill missing case material with the most common type in that model
df['case material'] = df['case material'].fillna(df.groupby('model')['case material'].transform(lambda x: x.mode()[0]))

In [72]:
df['case material'].isna().sum()

0

In [45]:
df['year of production'].value_counts()

year of production
2022.0    14543
2021.0     6215
2020.0     2973
2019.0     2071
2018.0     1633
          ...
1500.0        1
1927.0        1
1900.0        1
1871.0        1
1884.0        1
Name: count, Length: 110, dtype: int64

In [46]:
df['year of production'].isna().sum()

22154

In [75]:
#fill the missing year of production with the median value of watches in the same model and condition
df['year of production'] = df['year of production'].fillna(df.groupby(['model','condition'])['year of production'].transform(lambda x: x.median()))

/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/deanchen/Library/Python/3.9/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [76]:
df['year of production'].isna().sum()

14

In [77]:
print(df[df['year of production'].isna()])

                                  model reference number    price  \
355                  Rolex Cellini Date            50519  17500.0
12816            Rolex Oyster Precision             6694   2278.0
19898               Rolex Lady-Datejust            69174   2943.0
31827   Rolex Lady-Datejust Pearlmaster            80315  17559.0
32866              Rolex Cellini Danaos             4233   4187.0
35910                Rolex Cellini Date            50515  10736.0
42497              Rolex Cellini Danaos             4233   4187.0
56162                    Rolex Explorer             1016  18867.0
63450   Rolex Lady-Datejust Pearlmaster            80315  17559.0
65339  Rolex Oyster Perpetual Lady Date             6917   1437.0
66065                Rolex Cellini Date            50515  19944.0
66494                Rolex Cellini Date            50515  19944.0
73897                    Rolex Explorer             1016  18867.0
80607               Rolex Lady-Datejust            69174   2943.0

       aditional shipping price  \
355                         0.0
12816                      76.0
19898                      53.0
31827                       0.0
32866                       0.0
35910                       0.0
42497                       0.0
56162                      41.0
63450                       0.0
65339                      76.0
66065                      53.0
66494                      53.0
73897                      41.0
80607                      53.0

                                                 ad name        movement  \
355                                                50519       Automatic
12816          6694 Oyster Date Just cal. 1225 57 serial  Manual winding
19898                                            デイトジャスト       Automatic
31827  Auth ROLEX Datejust Pearlmaster 80315 7S6450R8...       Automatic
32866  ロレックス チェリーニ ダナオス K18WG cal.1602 4233 手巻き メンズ_7...  Manual winding
35910                                      Rose Gold 18k       Automatic
42497  ロレックス チェリーニ ダナオス K18WG cal.1602 4233 手巻き メンズ_7...  Manual winding
56162                                               1016       Automatic
63450  Auth ROLEX Datejust Pearlmaster 80315 7S6450R8...       Automatic
65339                6917 Oyster Perpetual Date cal.2030       Automatic
66065                                              50515       Automatic
66494                                              50515       Automatic
73897                                               1016       Automatic
80607                                            デイトジャスト       Automatic

      case material  case diameter  year of production   condition  \
355      White gold           39.0                 NaN      Unworn
12816         Steel           34.0                 NaN        Poor
19898         Steel           25.0                 NaN  Incomplete
31827   Yellow gold           29.0                 NaN        Fair
32866    White gold           33.0                 NaN        Fair
35910     Rose gold           39.0                 NaN        Fair
42497    White gold           33.0                 NaN        Fair
56162         Steel           36.0                 NaN        Poor
63450   Yellow gold           29.0                 NaN        Fair
65339    Gold/Steel           26.0                 NaN        Poor
66065     Rose gold           39.0                 NaN         New
66494     Rose gold           39.0                 NaN         New
73897         Steel           36.0                 NaN        Poor
80607         Steel           25.0                 NaN  Incomplete

                         scope of delivery                    location  \
355          Original box, original papers        Singapore, Singapore
12816  No original box, no original papers                Japan, Osaka
19898  No original box, no original papers  Japan, Tarumi-ku Kobe-shi,
31827  No original box, no original papers                Japan, Tokyo
32866  No original box, no original papers          Japan, Nagoya City
35910  No original box, no original papers          Romania, Bucuresti
42497  No original box, no original papers          Japan, Nagoya City
56162  No original box, no original papers          Australia, Toowong
63450  No original box, no original papers                Japan, Tokyo
65339  No original box, no original papers                Japan, Osaka
66065        Original box, original papers            Germany, Bamberg
66494        Original box, original papers            Germany, Bamberg
73897  No original box, no original papers          Australia, Toowong
80607  No original box, no original papers  Japan, Tarumi-ku Kobe-shi,

         country
355    Singapore
12816      Japan
19898      Japan
31827      Japan
32866      Japan
35910    Romania
42497      Japan
56162  Australia
63450      Japan
65339      Japan
66065    Germany
66494    Germany
73897  Australia
80607      Japan

In [78]:
# the remaining missing year of production, fill them with the mode of the same reference number
df['year of production'] = df['year of production'].fillna(df.groupby(['reference number'])['year of production'].transform(lambda x: x.mode()[0]))

In [79]:
df['year of production'].isna().sum()

0

In [47]:
df['condition'].value_counts()

condition
Very good     43451
Unworn        13985
New           11761
Good           9948
Fair           1426
Poor             40
Incomplete        2
Name: count, dtype: int64

In [51]:
df['condition'].isna().sum()

1112

In [73]:
#fill the NAs in condition with the most common type of the same model

df['condition'] = df['condition'].fillna(df.groupby('model')['condition'].transform(lambda x: x.mode()[0]))

In [74]:
df['condition'].isna().sum()

0

In [52]:
df['location'].value_counts()

location
United States of America, New York, New York          5986
Japan, Tokyo                                          3900
United Kingdom, London                                3120
United States of America, Florida, Miami              2548
United States of America, Texas, Dallas               2222
                                                      ...
The Netherlands, Wateringen                              1
Saudi Arabia, Saudi Arabia                               1
France, AJACCIO                                          1
United States of America, Massachusetts, Wakefield       1
United Kingdom, Littlewick Green                         1
Name: count, Length: 4079, dtype: int64

In [54]:
df['location'].isna().sum()

0

In [53]:
# save only the country part of the location data
df['country'] = df['location'].str.split(',').str[0]
df['country'].value_counts()

country
United States of America    28715
Japan                       11155
Italy                        8199
Germany                      7641
United Kingdom               6707
                            ...
Panama                          1
Iceland                         1
Kazakhstan                      1
Iraq                            1
Cambodia                        1
Name: count, Length: 87, dtype: int64

In [80]:
df['scope of delivery'].isna().sum()

0

In [82]:
df['scope of delivery'].value_counts()

scope of delivery
Original box, original papers          51442
No original box, no original papers    16182
Original box, no original papers        9493
Original papers, no original box        4608
Name: count, dtype: int64

In [84]:
#save all the useful information in a new dataframe
new_df = df[['model','price','movement','case material','case diameter','year of production','condition','scope of delivery','country']]

In [86]:
print(new_df.sample(10))

                        model    price   movement case material  \
36444          Rolex Datejust   6949.0  Automatic         Steel
514             Rolex Daytona  58295.0  Automatic   Yellow gold
55642  Rolex Oyster Perpetual   8641.0  Automatic         Steel
76149     Rolex Lady-Datejust  17272.0  Automatic    Gold/Steel
84655          Rolex Datejust   5644.0  Automatic    Gold/Steel
51211           Rolex Daytona  61352.0  Automatic     Rose gold
77403          Rolex Air King  12600.0  Automatic         Steel
69895       Rolex Explorer II   8980.0  Automatic         Steel
2262            Rolex Daytona  21725.0  Automatic         Steel
43681           Rolex Daytona  46578.0  Automatic         Steel

       case diameter  year of production  condition  \
36444           31.0              2020.0  Very good
514             40.0              2021.0     Unworn
55642           39.0              2015.0  Very good
76149           28.0              2022.0     Unworn
84655           36.0              1970.0       Good
51211           40.0              2022.0     Unworn
77403           40.0              2022.0     Unworn
69895           40.0              2000.0  Very good
2262            40.0              2016.0  Very good
43681           40.0              2004.5       Good

                         scope of delivery                   country
36444     Original papers, no original box                    Taiwan
514          Original box, original papers  United States of America
55642        Original box, original papers                   Germany
76149        Original box, original papers                   Belgium
84655  No original box, no original papers                 Australia
51211        Original box, original papers                    France
77403        Original box, original papers  United States of America
69895     Original box, no original papers  United States of America
2262         Original box, original papers                     Japan
43681  No original box, no original papers                     Japan

In [87]:
#last check any NAs
new_df.isna().any().any()

False

In [89]:
new_df.dtypes

model                  object
price                 float64
movement               object
case material          object
case diameter         float64
year of production    float64
condition              object
scope of delivery      object
country                object
dtype: object